<div class="container">
  <div class="map-container-left">
    <div class="map-container-top">
        <div id="map1"></div>
    </div>
    <div class="map-container-bottom">
        <div id="map3"></div>
    </div>
  </div>
  <div class="map-container-right">
    <div class="map-container-top">
        <div id="map2"></div>
    </div>
    <div class="map-container-bottom">
        <div id="map4"></div>
    </div>
  </div>
  <div class="navigation-container">
      <div id="navigation"></div>
  </div>
  <div class="filter"></div>
</div>
