%width-containers
    display: inline-block
    width: 24%
    height: 880px

%height-containers
    display: flow-root
    width: 100%
    height: 49.4%

%comp-map
    height: 98.5%
    // height: 86.5%

.container
    background: #F4F4F4
    width: 99%
    margin: 0.4%
    display: flex
    align-items: start
    padding-top: 0.4%

.map-container-left
    @extend %width-containers
    margin-left: 0.5%
    margin-right: 0.3%

.map-container-right
    @extend %width-containers
    margin-right: 1%

.navigation-container
    @extend %width-containers
    margin-right: 1%

.filter
    @extend %width-containers
    margin-right: 0.5%

.map-container-top
    @extend %height-containers

.map-container-bottom
    @extend %height-containers

#map1
    @extend %comp-map

#map2
    @extend %comp-map

#map3
    @extend %comp-map

#map4
    @extend %comp-map

#navigation
    height: 863px

mat-form-field
    width: 100%

#filter
    width: 93%
    height: 94.5%
    display: flex
    flex-direction: column
    justify-content: space-between

#legendTitle
    transform: rotate(90deg)

#legendCard
    z-index: 999
    position: absolute
    bottom: -7%
    right: 35.7%
    transform: rotate(-90deg)

#updateButton
    width: 100%

#compBorder
    // width: 23.1%
    // height: 45%
    width: 98%
    height: 50%
    // top: 28.8%
    // right: 26.7%
    top: 25%
    right: 0.5%
    position: absolute
    border: 3px solid #ffa800
    pointer-events: none
    z-index: 999

p
    position: absolute
    color: #29335c
    // font-weight: bold 
    font-size: 20px
    z-index: 999
    margin-left: 0.2%
    margin-top: 0.2%
    font-family: Roboto
    text-decoration: underline
    text-decoration-color: #ffa800
    background-color: rgb(255,255,255, 0.8)
    padding: 0.2em
    border-radius: 5px // -webkit-text-stroke: 0.01px gray

.maps-container
    width: 100%
    height: max-content
    padding: 0.3em 0

.progress
   visibility: hidden
