<div class="container" id="con">
  <mat-card id="legendCard">
    <!-- <a id="legendTitle">Fishing Hours</a> -->
    <svg id="clegend"> </svg>
  </mat-card>
  <div class="map-container-left">
    <div class="map-container-top">
      <p > Map 1 </p>
      <div id="map1"></div>
      <mat-progress-bar color="accent" mode="indeterminate" id="progress1" class="progress"></mat-progress-bar>
    </div>
    <div class="map-container-bottom">
      <p> Map 3 </p>
      <div id="map3"></div>
      <mat-progress-bar color="accent" mode="indeterminate" id="progress2" class="progress"></mat-progress-bar>
    </div>
  </div>
  <div class="map-container-right">
    <div class="map-container-top">
      <p> Map 2 </p>
      <div id="map2"></div>
      <mat-progress-bar color="accent" mode="indeterminate" id="progress3" class="progress"></mat-progress-bar>
    </div>
    <div class="map-container-bottom">
      <p> Map 4 </p>
      <div id="map4"></div>
      <mat-progress-bar color="accent" mode="indeterminate" id="progress4" class="progress"></mat-progress-bar>
    </div>
  </div>
  <div class="navigation-container">
    <!-- class="leaflet-control-container" -->
    <svg id="compBorder" ></svg> 
    <div id="navigation"></div>
  </div>
  <div class="filter">

    <mat-card id="filter">

      <!-- (dateChange)="onDateChange($event, 1)" -->
      <div class="maps-container">
      <h3>Map 1:</h3>
      <mat-form-field appearance="fill" >
        <mat-label>Enter a date range for map 1</mat-label>
        <mat-date-range-input [formGroup]="range1" [min]="minDate" [max]="maxDate" [rangePicker]="picker1">
          <input matStartDate formControlName="start" placeholder="2020-01-01">
          <input matEndDate formControlName="end" placeholder="2020-01-05" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-date-range-picker #picker1></mat-date-range-picker>
      
        <mat-error *ngIf="range1.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range1.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Select Country</mat-label>
        <input type="text" matInput [formControl]="countryControl1" [matAutocomplete]="auto1" placeholder="World">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option.viewValue">
            {{option.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>
      <!-- (dateChange)="onDateChange($event, 2)" -->
      
      <div class="maps-container">
      <h3>Map 2:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range for map 2</mat-label>
        <mat-date-range-input [formGroup]="range2" [min]="minDate" [max]="maxDate" [rangePicker]="picker2">
          <input matStartDate formControlName="start" placeholder="2020-01-01">
          <input matEndDate formControlName="end" placeholder="2020-01-05" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>
      
        <mat-error *ngIf="range1.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range1.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Select Country</mat-label>
        <input type="text" matInput [formControl]="countryControl2" [matAutocomplete]="auto2" placeholder="World">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2.viewValue">
            {{option2.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>
      
      <!-- (dateChange)="onDateChange($event, 3)" -->
      <div class="maps-container">
      <h3>Map 3:</h3>
      <mat-form-field appearance="fill" >
        <mat-label>Enter a date range for map 3</mat-label>
        <mat-date-range-input [formGroup]="range3" [min]="minDate" [max]="maxDate" [rangePicker]="picker3">
          <input matStartDate formControlName="start" placeholder="2020-01-01">
          <input matEndDate formControlName="end" placeholder="2020-01-05" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-date-range-picker #picker3></mat-date-range-picker>
      
        <mat-error *ngIf="range1.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range1.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Select Country</mat-label>
        <input type="text" matInput [formControl]="countryControl3" [matAutocomplete]="auto3" placeholder="World">
        <mat-autocomplete #auto3="matAutocomplete">
          <mat-option *ngFor="let option3 of filteredOptions3 | async" [value]="option3.viewValue">
            {{option3.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-divider></mat-divider>
      </div>
     
      <!-- (dateChange)="onDateChange($event, 4)" -->
      <div class="maps-container">
      <h3 >Map 4:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range for map 4</mat-label>
        <mat-date-range-input [formGroup]="range4" [min]="minDate" [max]="maxDate" [rangePicker]="picker4">
          <input matStartDate formControlName="start" placeholder="2020-01-01">
          <input matEndDate formControlName="end" placeholder="2020-01-05" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-date-range-picker #picker4></mat-date-range-picker>
      
        <mat-error *ngIf="range1.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range1.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="fill" >
        <mat-label>Select Country</mat-label>
        <input type="text" matInput [formControl]="countryControl4" [matAutocomplete]="auto4" placeholder="World"  >
        <mat-autocomplete #auto4="matAutocomplete" >
          <mat-option *ngFor="let option4 of filteredOptions4 | async" [value]="option4.viewValue" >
            {{option4.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-divider></mat-divider>
      </div>
      
      <div class="maps-container">
      <button mat-raised-button id="updateButton" (click)="clickUpdate()">Update Visualization</button>
      </div>
    </mat-card>
  </div>
</div>
